*{
    margin: 0;
    padding: 0;
}
html
{
    height: 100%;
    width: 100%;
    margin:auto;
}

body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    background: -webkit-linear-gradient(#ce471e, #f79f2d);
    background: -o-linear-gradient(#ce471e, #f79f2d);
    background: -moz-linear-gradient(#ce471e, #f79f2d);
    background: linear-gradient(#ce471e, #f79f2d);
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/* hero img */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/los_angeles_natt.jpg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.container{
    width: 98%;
    margin: auto;
    overflow: hidden;
}