/* färgpalett som jag genererade på coolors.co
--mauve: #ffc2fbff;
--vivid-sky-blue: #4cd5faff;
--orange-red-crayola: #ff5c5cff;
--light-yellow: #fdf8d8ff;
--rosy-brown: #ae8e84ff;
*/
*{
  padding: 0;
    margin: 0;
}

html {
  height: 100%;
}

body{
  height: 100%;
  background-image: url("img/los_angeles_natt.jpg");
  background-color:burlywood; /* ifall min bild inte är tillgänglig*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

header{
  padding: 50px
}

#container {
  padding: 10px;
  width:95vw;
  height:60vh;
  margin: 0 auto;
  background-color: transparent;
  outline: 8px solid rgb(250, 155, 91);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: ;
  grid-gap: 10px;
  /* hur man placerar saker i sina celler */
  align-items:; /* vertikalt i cellerna*/
  justify-items: ; /* horizontellt*/
  place-items:; /* short hand här kan man göra båda ovanstående */
  /* placera saker i den stora kontainern */
  align-content:; /* vertikalt */
  justify-items:; /* horizontellt */
  place-content:; /* shorthand */
}

#container > div {
  background-color: #ae8e84ff;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}